body {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 120px 1fr 20px;
    gap: 10px;
    min-width: 800px;
    min-height: 600px;
}

.header-box {
    grid-column: 1 / 3;
    grid-row: 1;
}

.header {
    span {
        font-size: 5vh;
        vertical-align: baseline;
    }

    img {
        max-width: 100%;
    }

    text-align: left;
}

.sidenav-box {
    grid-column: 1;
    grid-row: 2;
}

nav {
    ul {}

    li {
        margin: 0;
        padding: 10px 0 20px 50px;
        list-style: none;
        background-image: url("../images/bean-nav.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 40px;
    }
}

.main-box {
    grid-column: 2;
    grid-row: 2;
}

.footer-box {
    grid-column: 1 / 3;
    grid-row: 3;
}

footer {
    font-size: .7em;
    margin-left: 50px;
}

#map {
    height: 800px;
}