{{ with .Params.hide_footer }}
<!-- No footer here! -->
{{ else }}
<footer>
    Website made by {{ .Site.Params.name }} in {{ now.Year }}
    <br>
    Logo peas by ji-na seo from <a href="https://thenounproject.com/browse/icons/term/peas/" target="_blank"
        title="peas Icons">Noun Project</a> (CC BY 3.0)
    <br>
    Bean by Katerine Melina from <a href="https://thenounproject.com/browse/icons/term/bean/" target="_blank"
        title="Bean Icons">Noun Project</a> (CC BY 3.0)
</footer>
{{ end }}